body {
    color: #1a1a1a !important;
    background-color: #f2f2f2;
}

.card-color {
    background-color: white;
    box-shadow: 0px 0px 10px 1px  #d9d9d9;
    box-sizing: border-box
}

.investment {
    color: #355457;
}

a {
    color: #1a1a1a !important;
}

.navbar-toggler {
    background-color: white !important;
}

input:checked {
    background-color: #0f2121 !important;
}
